
* {
  /* border: 1px solid black; */
  font-family:'Finger Paint', cursive;
}

body {
  /* background-color: aqua !important; */
  background: url("./icons/Sky.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  margin-bottom: 7px !important;
  margin-top: 5px !important;
  color: rgb(34, 34, 207) !important;
}
#message {
  margin-top: 0;
  margin-bottom: 5px !important;
}

#location {
  font-size: 1.5em;
}

#myText {
  border: 0;
  border-radius: 6px;
}

#cityButton {
  border: 0;
  border-radius: 6px;
  color: blue;
  background-color: white;
}

#weatherButton {
  margin-top: 10px;
}

#myText {
  margin-top: 7px;
}


p {
  margin: 0 !important;
  /* color: rgb(34, 34, 207) !important; */
}

#weatherBox {
  /* border: 1px black solid; */
  /* border-radius: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px !important;
  min-width: 310px;
  max-width: 800px !important;
  min-height: 350px;
  max-height: 850px !important;
  padding-bottom: 10px;
  background-color: rgba(256, 256, 256, 0.35);
  box-shadow: 10px 10px 18px grey;
}

#description {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px yellow;
  color: blue;
  margin-bottom: 0 !important;
}

#temp {
  /* border: 1px blue solid; */
  text-align: right;
  align-content: center;
  min-width: 110px;
  padding-top: 9px;
}

#switchButton {
 text-align: left;
 /* border: 1px yellow solid; */
 padding-left: 10px;
 background-color: rgba(256, 256, 256, 0.10) !important;
 border-color:rgba(256, 256, 256, 0.10);
 color: blue;
 height: 32px;

}

#tempAndButt {
  align-content: center;
  margin-bottom: 0;
}

#icon {
  align-content: center;
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}

#description {
  margin-top: 7px !important;
}

#windSpeed {
  text-align: right;
}

#windStrenght {
  text-align: left;
}

#pressure {
  text-align: right;
}

#humidity {
  text-align: left;
}

#mood {
  margin-top: 7px !important;
  font-size: 2em;
  color: yellow !important;
  text-shadow: 2px 2px blue;
}

#impressum {
  text-align: center;
}

#moreInfo {
  text-align: center;
  color: rgb(42, 146, 212);
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;

}

h5 {
  font-weight: bold !important;
}

#readMore {
  margin-bottom: 20px !important;
  font-family: 'Coming Soon', cursive !important;
}
